body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
h1 {
  text-align: center;
  margin: 20px 0;
}
.navbar {
  display: flex;
  background-color: #333;
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  line-height: 28px;
}
.navbar .welcomeMessage {
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
}
.navbar .languageSelector {
  float: right;
  margin-right: 20px;
  height: 26px;
  margin-top: 15px;
}

.navbar .languageSelector {
  float: right;
  margin-right: 20px;
  height: 26px;
  margin-top: 15px;
}
.navbar .languageSelector select {
  height: 26px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #333;
  color: #f2f2f2;
}
.navbar .accountSelector {
  float: right;
  margin-right: 20px;
  height: 26px;
  margin-top: 15px;
}

.navbar .login {
  float: right;
  color: #f2f2f2;
}
.navbar .loginFields {
  float: left;
  padding: 16px;
}
.navbar .button {
  float: right;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  line-height: 28px;
}
.navbar .material-symbols-outlined {
  float: left;
}
.navbar .loginButton {
  background-color: #000;
}

.navbar .logoutButton {
  background-color: #4CAF50;
}

.navbar .notificationsButton {
  margin-right: 10px;
}
.navbar .subscribeNotificationsButton {
  background-color: #f44336;
}

.navbar .unsubscribeNotificationsButton {
  background-color: #4CAF50;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}
.chart-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 400px;
}
#homeworksDurationChart {
  grid-column: span 3;
}
.descriptionEllipsis {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tooltip.homeworkDescription {
  display: block;
  white-space: preserve-spaces;
  word-wrap: break-word;
  width: 500px;
}
.bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 4px;
}

.hidden {
  display: none;
}
